.signInButton {
  display: flex;
  justify-content: space-around;
  padding: auto;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .signInButton {
    height: 3rem;
    font-size: 0.9rem;
  }
}

.signInButton img {
  width: 20%;
}
